GMAIL_SENDER=qotmdgkr@gmail.com
GMAIL_APP_PASSWORD=qwft ojgp ywhh etbk
RECIPIENT_EMAIL=qotmdgkr@gmail.com
KAKAO_REST_API_KEY=c4b98dcca9caa08a824de700f6699745
KAKAO_REFRESH_TOKEN=your_kakao_refresh_token
NEWSAPI_KEY=your_newsapi_key
